<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.AppDriverDao">
    <sql id="sql">id,driverphone,password,status,salt,create_date,des_key,des_iv,token</sql>
    <select id="get" parameterType="AppDriver"
            resultType="AppDriver">
        SELECT id,
        <include refid="sql" />
        FROM app_driver
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="driverphone != null">AND driverphone = #{driverphone}</if>
            <if test="token != null">AND token = #{token}</if>
        </where>
    </select>

    <update id="update" parameterType="AppDriver">
        UPDATE
        app_driver
        SET
        token =#{token}
        WHERE
        driverphone =#{driverphone}
    </update>

    <update id="update1" parameterType="AppDriver">
        UPDATE app_driver
        <set>
            password = #{password},
            salt = #{salt},
            des_key = #{des_key},
            des_iv =#{des_iv},
            token = #{token}

        </set>
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="driverphone != null">AND driverphone = #{driverphone}</if>
        </where>
    </update>
</mapper>