<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.CompleteDao">
    <sql id="roya">code,origin,destination,kilometre,bonus,create_date,status,type,mode,label,name</sql>
    <select id="find1" parameterType="Complete"
            resultType="Complete">
        SELECT
        <include refid="roya" />
        FROM order_history
        where
        driver_id =#{driver_id}
        and
        TO_DAYS(create_date) = TO_DAYS(NOW())
    </select>

    <select id="find2" parameterType="Complete"
            resultType="Complete">
        SELECT
        <include refid="roya" />
        FROM order_history
        where
        driver_id =#{driver_id}
        and
        DATE_FORMAT(create_date,'%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </select>

    <sql id="ccc">create_date,code,origin,destination,kilometre,bonus,finish_date,driver_id,status,type,mode,label,name</sql>
    <select id="find3" parameterType="Complete"
            resultType="Complete">
        SELECT
        <include refid="ccc" />
        FROM order_history
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="create_date != null">AND create_date = #{create_date}</if>
            <if test="code != null">AND code = #{code}</if>
            <if test="origin != null">AND origin = #{origin}</if>
            <if test="destination != null">AND destination = #{destination}</if>
            <if test="kilometre != null">AND kilometre = #{kilometre}</if>
            <if test="bonus != null">AND bonus = #{bonus}</if>
            <if test="finish_date != null">AND finish_date = #{finish_date}</if>
            <if test="driver_id != null">AND driver_id = #{driver_id}</if>
            <if test="status != null">AND kilometre = #{kilometre}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="mode != null">AND mode = #{mode}</if>
            <if test="label != null">AND label = #{label}</if>
            <if test="name != null">AND name = #{name}</if>
        </where>
    </select>

    <select id="find4" parameterType="Complete"
            resultType="Complete">
        SELECT
          aa.driver_id as cc,
          count(aa.driver_id) as total
        FROM
         order_history aa
        LEFT JOIN
        app_driver bb
        on
        aa.driver_id = bb.driverphone
       where
        DATE_FORMAT(finish_date,'%Y%m') = DATE_FORMAT( CURDATE( ) ,'%Y%m' )
        group by
         aa.driver_id
        order  by
        total
        desc
	</select>

    <sql id="id">user_id,driver_id,model_id,code,create_date,status,type,mode,appoint_date,label,origin,destination,name,night_service_cost,traffic_jam_cost,is_support,support_money,
support_cost,order_money,ticket_money,actually_paid,kilometre,bonus,finish_date,is_evaluate
</sql>
    <insert id="insert" parameterType="Complete">
        INSERT INTO order_history (
        <include refid="id"/>
        )
        VALUES (
        #{user_id},#{driver_id},#{model_id},#{code},#{create_date},#{status},#{type},#{mode},#{appoint_date},#{label},#{origin},#{destination},#{name},#{night_service_cost},
        #{traffic_jam_cost},#{is_support},#{support_money},#{support_cost},#{order_money},#{ticket_money},#{actually_paid},#{kilometre},#{bonus},#{finish_date},#{is_evaluate}
        )
    </insert>
</mapper>