<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.CompleteDao">
    <sql id="roya">code,origin,destination,kilometre,bonus</sql>
    <select id="find1" parameterType="Complete"
            resultType="Complete">
        SELECT
        <include refid="roya" />
        FROM order_history
        where
        TO_DAYS(create_date) = TO_DAYS(NOW())
    </select>
    <sql id="month">code,origin,destination,kilometre,bonus</sql>
    <select id="find2" parameterType="Complete"
            resultType="Complete">
        SELECT
        <include refid="month" />
        FROM order_history
        where
        DATE_FORMAT( create_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </select>
    <sql id="ccc">code,origin,destination,kilometre,bonus,finish_date</sql>
    <select id="find3" parameterType="Complete"
            resultType="Complete">
        SELECT
        <include refid="ccc" />
        FROM order_history
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="code != null">AND code = #{code}</if>
            <if test="origin != null">AND origin = #{origin}</if>
            <if test="destination != null">AND destination = #{destination}</if>
            <if test="kilometre != null">AND kilometre = #{kilometre}</if>
            <if test="bonus != null">AND bonus = #{bonus}</if>
            <if test="finish_date != null">AND finish_date = #{finish_date}</if>
        </where>
    </select>
    <select id="find4" parameterType="Complete"
            resultType="Complete">
        SELECT
          driver_id,
          count(driver_id) as Total
        FROM order_history
        group by
         driver_id
        order  by
        Total
        desc
--         where
--             DATE_FORMAT( create_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
   
</mapper>