<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.DriverSiteDao">
    <sql id="name">longitude,latitude,create_date,phone
	</sql>
    <insert id="insert" parameterType="DriverSite">
        INSERT INTO log_driver_site (
        <include refid="name" />
        )
        VALUES (
        #{longitude},#{latitude},#{create_date},#{phone}
        )
    </insert>
</mapper>