<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.PriceDao">
<sql id="price">scope,duration,is_work,work_start,work_end,city</sql>
<select id="get1" parameterType="price"
        resultType="price">
    SELECT
    <include refid="price" />
    FROM  sys_setting
    <where>
        <if test="id != null">id = #{id}</if>
        <if test="work_start != null">AND work_start = #{work_start}</if>
        <if test="work_end != null">AND work_end = #{work_end}</if>
    </where>
</select>
</mapper>