<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.SystemmDao">
    <sql id="systemm">title,content,create_date</sql>

    <select id="find" parameterType="Systemm"
            resultType="Systemm">
        SELECT
        <include refid="systemm" />
        FROM
        rules_and_regulations
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="content != null">AND content = #{content}</if>
            <if test="create_date != null">AND create_date = #{create_date}</if>
            <if test="title != null">AND title = #{title}</if>
        </where>
    </select>
</mapper>