<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.TaskDao">
    <sql id="id">code,serial,status,destination</sql>
    <select id="get" parameterType="Task"
            resultType="Task">
        SELECT id,
        <include refid="id"/>
        FROM order_task
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="code != null">AND code = #{code}</if>
            <if test="serial != null">AND serial = #{serial}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="destination != null">AND destination = #{destination}</if>
        </where>
    </select>

    <update id="update" parameterType="Task">
        UPDATE
        order_task
        SET
        status =#{status}
        WHERE
        serial =#{serial}
        and
        code =#{code}
    </update>
</mapper>