<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.user.AppUserThirdDao">
	<sql id="third">thirdparty,identifier,credential,portrait_url</sql>
	<insert id="insert" parameterType="AppUserThird">
		INSERT INTO app_user_third (
		<include refid="third" />
		) VALUES (
		#{thirdparty},#{identifier},#{credential},#{portrait_url}
		)
	</insert>
	<delete id="delete" parameterType="AppUserThird">
		DELETE FROM app_user_third
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="identifier != null">AND identifier = #{identifier}</if>
		</where>
	</delete>
	<update id="update" parameterType="AppUserThird">
		UPDATE app_user_third
		<set>
			<if test="credential != null">credential = #{credential},</if>
			<if test="portrait_url != null">portrait_url = #{portrait_url}</if>
		</set>
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="identifier != null">AND identifier = #{identifier}</if>
		</where>
	</update>
	<select id="get" parameterType="AppUserThird"
		resultType="AppUserThird">
		SELECT id,
		<include refid="third" />
		FROM app_user_third
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="identifier != null">AND identifier = #{identifier}</if>
		</where>
	</select>
	<select id="find" parameterType="AppUserThird"
		resultType="AppUserThird">
		SELECT id,
		<include refid="third" />
		FROM app_user_third
		<where>
			<if test="thirdparty != null">thirdparty = #{thirdparty}</if>
			<if test="identifier != null">AND identifier = #{identifier}</if>
		</where>
	</select>
</mapper>