<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.user.AppUserSmsDao">
	<sql id="sms">phone,code,create_date</sql>
	<insert id="insert" parameterType="AppUserSms">
		INSERT INTO app_user_sms (
		<include refid="sms" />
		) VALUES (
		#{phone},#{code},#{create_date}
		)
	</insert>
	<update id="update" parameterType="AppUserSms">
		UPDATE app_user_sms
		<set>
			<if test="code != null">code = #{code}</if>
			<if test="create_date != null">create_date = #{create_date}</if>
		</set>
		WHERE phone = #{phone}
	</update>
	<select id="get" parameterType="AppUserSms"
		resultType="AppUserSms">
		SELECT id,
		<include refid="sms" />
		FROM app_user_sms
		WHERE phone = #{phone}
		ORDER BY create_date DESC
		LIMIT
		1
	</select>
</mapper>