<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.AppUserDao">
	<sql id="appUser">identity,username,password,salt,state,create_date,des_key,des_iv,token,referrer
	</sql>
	<insert id="insert" parameterType="AppUser">
		INSERT INTO app_user (
		<include refid="appUser" />
		)
		VALUES (
		#{identity},#{username},#{password},#{salt},#{state},#{create_date},#{des_key},#{des_iv},#{token},#{referrer}
		)
	</insert>
	<delete id="delete" parameterType="AppUser">
		DELETE FROM app_user
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="username != null">AND username = #{username}</if>
			<if test="identity != null">AND identity = #{identity}</if>
			<if test="token != null">AND token = #{token}</if>
		</where>
	</delete>
	<update id="update" parameterType="AppUser">
		UPDATE app_user
		<set>
			<if test="password != null">password = #{password},</if>
			<if test="salt != null">salt = #{salt},</if>
			<if test="state != null">state = #{state},</if>
			<if test="des_key != null">des_key = #{des_key},</if>
			<if test="des_iv != null">des_iv = #{des_iv},</if>
			<if test="token != null">token = #{token}</if>
		</set>
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="username != null">AND username = #{username}</if>
			<if test="identity != null">AND identity = #{identity}</if>
		</where>
	</update>
	<select id="get" parameterType="AppUser" resultType="AppUser">
		SELECT id,
		<include refid="appUser" />
		FROM app_user
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="username != null">AND username = #{username}</if>
			<if test="identity != null">AND identity = #{identity}</if>
			<if test="token != null">AND token = #{token}</if>
		</where>
	</select>
	<select id="find" parameterType="AppUser" resultType="AppUser">
		SELECT id,
		<include refid="appUser" />
		FROM app_user
		<where>
			<if test="state != null">state = #{state}</if>
			<if test="referrer != null">AND referrer = #{referrer}</if>
		</where>
	</select>
</mapper>