<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.ModelDao">
    <sql id="model">brand,model,length,width,height,volume,capacity,empty_cost,night_cost,starting_cost,starting_scope,photo_url</sql>
    <select id="get" parameterType="Vehicle"
            resultType="Model">
        SELECT
        bb.*
        FROM
        vehicle  aa
        LEFT JOIN
        vehicle_model bb
        on
        aa.model_id = bb.id
        where
         aa.driver_id =#{driver_id}
    </select>


    <select id="find" parameterType="Model"
            resultType="Model">
        SELECT
        <include refid="model" />
        FROM vehicle_model
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="model != null">AND model = #{model}</if>
        </where>
    </select>



    <sql id="vehicle">model</sql>
    <select id="get3" parameterType="Personal"
            resultType="Model">
        SELECT c.model
        FROM app_driver_info a
        LEFT JOIN vehicle b ON a.vehicle_id = b.id
        LEFT JOIN vehicle_model c ON b.model_id = c.id
        WHERE a.user_id = #{user_id}
    </select>

</mapper>



