<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.RoyaltyDao">
    <sql id="roya">bonus</sql>
    <select id="find" parameterType="Royalty"
            resultType="Royalty">
        SELECT id,
        <include refid="roya" />
        FROM app_driver_detail
          <where>

              <if test="id != null">id = #{id}</if>
          </where>

    </select>
</mapper>