<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.TaskDao">
    <sql id="id">code,serial,status,destination</sql>
    <select id="get" parameterType="Task"
            resultType="Task">
        SELECT id,
        <include refid="id"/>
        FROM order_task
       where
        id =#{id}
    </select>

    <update id="update" parameterType="Task">
        UPDATE
        order_task
        SET
        status =3
        WHERE
        id = #{id}
    </update>



    <insert id="insert" parameterType="Task">
        INSERT INTO order_task (
        <include refid="id"/>
        )
        VALUES (
        #{code},#{serial},#{status},#{destination}
        )
    </insert>

    <select id="checkMax" parameterType="Task" resultType="java.lang.Integer">
        SELECT count(*) FROM order_task WHERE CODE = #{code} and status=0
    </select>

    <select id="checkMin" parameterType="Task" resultType="java.lang.Integer">
        SELECT MIN(id) FROM order_task WHERE CODE = #{code}
    </select>

    <select id="getRegistrationID" parameterType="java.lang.String" resultType="java.lang.String">
        select a.registration_id
           from app_user a,order_history b
        where a.id = b.user_id and b.code = #{code}
    </select>

</mapper>