<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.jfd.dao.driver.TimeDao">
    <sql id="time">one_day</sql>
    <select id="get" parameterType="Time"
            resultType="Time">
        SELECT
        <include refid="time" />
        FROM
        driver_accumulation
        <where>
            <if test="id != null">id = #{id}</if>
        </where>
    </select>
</mapper>